n8n-examples/n8n-20-templates-selector.json
{
  "name": "Video Template Selector (20 Styles)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 🎨 Visual Templates Library - 20 стилей\n// Категории: HIGH_CONTRAST, NEON_ENERGY, ELEGANT, MEME_STYLE, PLATFORM_SPECIFIC\n\nconst templates = [\n  // HIGH_CONTRAST\n  {name: \"Classic White Bold\", category: \"HIGH_CONTRAST\", title: {font: \"Arial\", fontsize: 76, fontcolor: \"black\", bordercolor: \"white\", borderw: 10, box: 1, boxcolor: \"white@0.90\", boxborderw: 25, shadowcolor: \"black@0.3\", shadowx: 3, shadowy: 3, y: 220}, sub: {font: \"Montserrat\", fontsize: 68, fontcolor: \"white\", bordercolor: \"black\", borderw: 8, shadowcolor: \"black@0.5\", shadowx: 2, shadowy: 2, y: \"h-340\"}},\n  {name: \"Black on Yellow\", category: \"HIGH_CONTRAST\", title: {font: \"Helvetica\", fontsize: 80, fontcolor: \"black\", bordercolor: \"#FFD700\", borderw: 4, box: 1, boxcolor: \"#FFEB3B@0.95\", boxborderw: 30, shadowcolor: \"black@0.4\", shadowx: 4, shadowy: 4, y: 210}, sub: {font: \"Roboto\", fontsize: 66, fontcolor: \"#FFFF00\", bordercolor: \"#8B7500\", borderw: 12, shadowcolor: \"black@0.6\", shadowx: 3, shadowy: 3, y: \"h-330\"}},\n  {name: \"White on Black\", category: \"HIGH_CONTRAST\", title: {font: \"Bebas Neue\", fontsize: 82, fontcolor: \"white\", bordercolor: \"white\", borderw: 0, box: 1, boxcolor: \"black@0.85\", boxborderw: 28, shadowcolor: \"white@0.2\", shadowx: 2, shadowy: 2, y: 200}, sub: {font: \"Arial\", fontsize: 70, fontcolor: \"white\", bordercolor: \"#666666\", borderw: 10, shadowcolor: \"black@0.7\", shadowx: 3, shadowy: 3, y: \"h-320\"}},\n  {name: \"Red Alert\", category: \"HIGH_CONTRAST\", title: {font: \"Impact\", fontsize: 78, fontcolor: \"white\", bordercolor: \"#FF0000\", borderw: 6, box: 1, boxcolor: \"#D32F2F@0.92\", boxborderw: 26, shadowcolor: \"black@0.5\", shadowx: 4, shadowy: 4, y: 225}, sub: {font: \"Helvetica\", fontsize: 68, fontcolor: \"#FFCDD2\", bordercolor: \"#B71C1C\", borderw: 11, shadowcolor: \"black@0.6\", shadowx: 3, shadowy: 3, y: \"h-335\"}},\n  {name: \"Blue Professional\", category: \"HIGH_CONTRAST\", title: {font: \"Roboto\", fontsize: 74, fontcolor: \"white\", bordercolor: \"#2196F3\", borderw: 5, box: 1, boxcolor: \"#1976D2@0.88\", boxborderw: 24, shadowcolor: \"black@0.4\", shadowx: 3, shadowy: 3, y: 230}, sub: {font: \"Montserrat\", fontsize: 67, fontcolor: \"#BBDEFB\", bordercolor: \"#0D47A1\", borderw: 10, shadowcolor: \"black@0.5\", shadowx: 2, shadowy: 2, y: \"h-340\"}},\n  \n  // NEON_ENERGY\n  {name: \"Neon Green\", category: \"NEON_ENERGY\", title: {font: \"Arial\", fontsize: 78, fontcolor: \"#00FF00\", bordercolor: \"#00FF00\", borderw: 8, box: 1, boxcolor: \"black@0.80\", boxborderw: 25, shadowcolor: \"#00FF00@0.6\", shadowx: 0, shadowy: 0, y: 235}, sub: {font: \"Roboto\", fontsize: 66, fontcolor: \"#00FF00\", bordercolor: \"#003300\", borderw: 14, shadowcolor: \"#00FF00@0.4\", shadowx: 0, shadowy: 0, y: \"h-340\"}},\n  {name: \"Neon Pink\", category: \"NEON_ENERGY\", title: {font: \"Helvetica\", fontsize: 76, fontcolor: \"#FF00FF\", bordercolor: \"#FF1493\", borderw: 7, box: 1, boxcolor: \"black@0.82\", boxborderw: 27, shadowcolor: \"#FF00FF@0.5\", shadowx: 0, shadowy: 0, y: 228}, sub: {font: \"Arial\", fontsize: 68, fontcolor: \"#FF69B4\", bordercolor: \"#8B008B\", borderw: 12, shadowcolor: \"#FF00FF@0.4\", shadowx: 0, shadowy: 0, y: \"h-335\"}},\n  {name: \"Cyber Blue\", category: \"NEON_ENERGY\", title: {font: \"Bebas Neue\", fontsize: 80, fontcolor: \"#00FFFF\", bordercolor: \"#00CED1\", borderw: 6, box: 1, boxcolor: \"#001a1a@0.85\", boxborderw: 28, shadowcolor: \"#00FFFF@0.6\", shadowx: 0, shadowy: 0, y: 215}, sub: {font: \"Montserrat\", fontsize: 67, fontcolor: \"#00FFFF\", bordercolor: \"#004d4d\", borderw: 13, shadowcolor: \"#00FFFF@0.4\", shadowx: 0, shadowy: 0, y: \"h-330\"}},\n  {name: \"Electric Orange\", category: \"NEON_ENERGY\", title: {font: \"Impact\", fontsize: 77, fontcolor: \"#FF6600\", bordercolor: \"#FF8C00\", borderw: 8, box: 1, boxcolor: \"black@0.83\", boxborderw: 26, shadowcolor: \"#FF6600@0.5\", shadowx: 0, shadowy: 0, y: 232}, sub: {font: \"Helvetica\", fontsize: 69, fontcolor: \"#FFA500\", bordercolor: \"#8B4500\", borderw: 11, shadowcolor: \"#FF6600@0.4\", shadowx: 0, shadowy: 0, y: \"h-338\"}},\n  {name: \"Neon Purple\", category: \"NEON_ENERGY\", title: {font: \"Arial\", fontsize: 75, fontcolor: \"#9C27B0\", bordercolor: \"#BA68C8\", borderw: 7, box: 1, boxcolor: \"black@0.81\", boxborderw: 25, shadowcolor: \"#9C27B0@0.5\", shadowx: 0, shadowy: 0, y: 238}, sub: {font: \"Roboto\", fontsize: 68, fontcolor: \"#CE93D8\", bordercolor: \"#4A148C\", borderw: 12, shadowcolor: \"#9C27B0@0.4\", shadowx: 0, shadowy: 0, y: \"h-342\"}},\n  \n  // ELEGANT\n  {name: \"Serif Classic\", category: \"ELEGANT\", title: {font: \"Times New Roman\", fontsize: 72, fontcolor: \"#2C3E50\", bordercolor: \"#ECF0F1\", borderw: 6, box: 1, boxcolor: \"#ECF0F1@0.92\", boxborderw: 28, shadowcolor: \"black@0.2\", shadowx: 2, shadowy: 2, y: 240}, sub: {font: \"Georgia\", fontsize: 64, fontcolor: \"#34495E\", bordercolor: \"#BDC3C7\", borderw: 8, shadowcolor: \"black@0.3\", shadowx: 1, shadowy: 1, y: \"h-345\"}},\n  {name: \"Minimal Modern\", category: \"ELEGANT\", title: {font: \"Helvetica Neue\", fontsize: 70, fontcolor: \"#212121\", bordercolor: \"white\", borderw: 0, box: 1, boxcolor: \"white@0.88\", boxborderw: 30, shadowcolor: \"black@0.15\", shadowx: 1, shadowy: 1, y: 245}, sub: {font: \"Roboto\", fontsize: 62, fontcolor: \"#424242\", bordercolor: \"#EEEEEE\", borderw: 6, shadowcolor: \"black@0.2\", shadowx: 1, shadowy: 1, y: \"h-350\"}},\n  {name: \"Gold Premium\", category: \"ELEGANT\", title: {font: \"Georgia\", fontsize: 73, fontcolor: \"#FFD700\", bordercolor: \"#B8860B\", borderw: 5, box: 1, boxcolor: \"#1a1a1a@0.90\", boxborderw: 27, shadowcolor: \"#FFD700@0.3\", shadowx: 2, shadowy: 2, y: 237}, sub: {font: \"Times New Roman\", fontsize: 65, fontcolor: \"#F4D03F\", bordercolor: \"#7D6608\", borderw: 9, shadowcolor: \"black@0.4\", shadowx: 2, shadowy: 2, y: \"h-343\"}},\n  \n  // MEME_STYLE\n  {name: \"Impact Meme\", category: \"MEME_STYLE\", title: {font: \"Impact\", fontsize: 84, fontcolor: \"white\", bordercolor: \"black\", borderw: 12, box: 0, shadowcolor: \"black@0.8\", shadowx: 5, shadowy: 5, y: 180}, sub: {font: \"Impact\", fontsize: 76, fontcolor: \"white\", bordercolor: \"black\", borderw: 12, shadowcolor: \"black@0.8\", shadowx: 5, shadowy: 5, y: \"h-280\"}},\n  {name: \"Comic Sans Chaos\", category: \"MEME_STYLE\", title: {font: \"Comic Sans MS\", fontsize: 74, fontcolor: \"#FF00FF\", bordercolor: \"#00FFFF\", borderw: 8, box: 1, boxcolor: \"black@0.75\", boxborderw: 22, shadowcolor: \"white@0.4\", shadowx: 3, shadowy: 3, y: 242}, sub: {font: \"Comic Sans MS\", fontsize: 66, fontcolor: \"#00FF00\", bordercolor: \"#FF1493\", borderw: 10, shadowcolor: \"black@0.6\", shadowx: 3, shadowy: 3, y: \"h-348\"}},\n  {name: \"ALL CAPS ENERGY\", category: \"MEME_STYLE\", title: {font: \"Arial Black\", fontsize: 82, fontcolor: \"yellow\", bordercolor: \"red\", borderw: 10, box: 1, boxcolor: \"black@0.80\", boxborderw: 24, shadowcolor: \"red@0.6\", shadowx: 4, shadowy: 4, y: 205}, sub: {font: \"Arial Black\", fontsize: 72, fontcolor: \"white\", bordercolor: \"yellow\", borderw: 14, shadowcolor: \"black@0.7\", shadowx: 4, shadowy: 4, y: \"h-315\"}},\n  \n  // PLATFORM_SPECIFIC\n  {name: \"YouTube Optimal\", category: \"PLATFORM_SPECIFIC\", platform: \"youtube\", title: {font: \"Roboto\", fontsize: 76, fontcolor: \"white\", bordercolor: \"#FF0000\", borderw: 6, box: 1, boxcolor: \"#282828@0.88\", boxborderw: 26, shadowcolor: \"black@0.5\", shadowx: 3, shadowy: 3, y: 220}, sub: {font: \"Roboto\", fontsize: 68, fontcolor: \"white\", bordercolor: \"#CC0000\", borderw: 10, shadowcolor: \"black@0.6\", shadowx: 2, shadowy: 2, y: \"h-340\"}},\n  {name: \"TikTok Viral\", category: \"PLATFORM_SPECIFIC\", platform: \"tiktok\", title: {font: \"Montserrat\", fontsize: 78, fontcolor: \"#00F2EA\", bordercolor: \"#FE2C55\", borderw: 7, box: 1, boxcolor: \"black@0.82\", boxborderw: 28, shadowcolor: \"#00F2EA@0.5\", shadowx: 0, shadowy: 0, y: 225}, sub: {font: \"Montserrat\", fontsize: 70, fontcolor: \"white\", bordercolor: \"#00F2EA\", borderw: 12, shadowcolor: \"black@0.6\", shadowx: 2, shadowy: 2, y: \"h-335\"}},\n  {name: \"Instagram Aesthetic\", category: \"PLATFORM_SPECIFIC\", platform: \"instagram\", title: {font: \"Helvetica\", fontsize: 74, fontcolor: \"white\", bordercolor: \"#E1306C\", borderw: 5, box: 1, boxcolor: \"#833AB4@0.85\", boxborderw: 25, shadowcolor: \"black@0.4\", shadowx: 2, shadowy: 2, y: 235}, sub: {font: \"Helvetica\", fontsize: 66, fontcolor: \"#FCAF45\", bordercolor: \"#C13584\", borderw: 11, shadowcolor: \"black@0.5\", shadowx: 2, shadowy: 2, y: \"h-345\"}},\n  {name: \"Universal Bright\", category: \"HIGH_CONTRAST\", title: {font: \"Arial\", fontsize: 77, fontcolor: \"white\", bordercolor: \"#FF5722\", borderw: 7, box: 1, boxcolor: \"#212121@0.87\", boxborderw: 26, shadowcolor: \"black@0.5\", shadowx: 3, shadowy: 3, y: 227}, sub: {font: \"Roboto\", fontsize: 69, fontcolor: \"#FFEB3B\", bordercolor: \"#F57C00\", borderw: 11, shadowcolor: \"black@0.6\", shadowx: 2, shadowy: 2, y: \"h-337\"}}\n];\n\n// Выбор случайного шаблона\nconst tpl = templates[Math.floor(Math.random() * templates.length)];\nconst data = $input.first().json;\n\n// Получаем данные из правильной структуры\nconst shorts = data.shorts || data;\nconst sourceUrl = data.source_video_url || shorts.source_video_url;\nconst clientMeta = shorts.client_meta || data.client_meta || {};\n\nreturn {\n  json: {\n    video_url: sourceUrl,\n    execution: \"async\",\n    operations: [{\n      type: \"make_short\",\n      start_time: shorts.start,\n      end_time: shorts.end,\n      crop_mode: \"letterbox\",\n      letterbox_config: {blur_radius: 20},\n      title: {\n        text: shorts.title,\n        font: tpl.title.font,\n        fontsize: tpl.title.fontsize,\n        fontcolor: tpl.title.fontcolor,\n        bordercolor: tpl.title.bordercolor,\n        borderw: tpl.title.borderw,\n        box: tpl.title.box,\n        boxcolor: tpl.title.boxcolor,\n        boxborderw: tpl.title.boxborderw,\n        shadowcolor: tpl.title.shadowcolor || undefined,\n        shadowx: tpl.title.shadowx || undefined,\n        shadowy: tpl.title.shadowy || undefined,\n        x: \"center\",\n        y: tpl.title.y,\n        start_time: 0.0,\n        duration: 5,\n        fade_in: 0.3,\n        fade_out: 0.5\n      },\n      subtitles: {\n        items: shorts.subtitles,\n        font: tpl.sub.font,\n        fontsize: tpl.sub.fontsize,\n        fontcolor: tpl.sub.fontcolor,\n        bordercolor: tpl.sub.bordercolor,\n        borderw: tpl.sub.borderw,\n        shadowcolor: tpl.sub.shadowcolor || undefined,\n        shadowx: tpl.sub.shadowx || undefined,\n        shadowy: tpl.sub.shadowy || undefined,\n        box: tpl.sub.box || 0,\n        boxcolor: tpl.sub.boxcolor || undefined,\n        boxborderw: tpl.sub.boxborderw || undefined,\n        y: tpl.sub.y\n      },\n      generate_thumbnail: true,\n      thumbnail_timestamp: 0.5\n    }],\n    client_meta: {\n      ...clientMeta,\n      _template_style: tpl.name,\n      _template_category: tpl.category\n    }\n  }\n};"
      },
      "id": "code-node",
      "name": "Random Template Selector (20 Styles)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-processor:5001/process_video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "jsonBody": "={{ $json }}"
      },
      "id": "http-node",
      "name": "Video Processor API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Random Template Selector (20 Styles)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Template Selector (20 Styles)": {
      "main": [
        [
          {
            "node": "Video Processor API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
