n8n-examples/archive/n8n-workflow.json
{
  "name": "Gaming Template Selector (30 Styles + Category Filter)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 🎮 Gaming Templates v3.0 - 30 шаблонов с фильтрацией по тематике\n// \n// ИСПОЛЬЗОВАНИЕ:\n// 1. Передай client_meta.template_category для выбора категории:\n//    - \"GAMING_CONTRAST\" (10) - заголовок на плашке, субтитры без\n//    - \"DOUBLE_BOX\" (10) - оба на плашках\n//    - \"NO_BOX\" (10) - только обводка, без плашек\n//    - null/undefined - случайный из всех 30\n//\n// 2. Передай client_meta.template_genre для выбора по жанру:\n//    - \"cyberpunk\", \"action\", \"rpg\", \"horror\", \"racing\", etc.\n//    - Можно комбинировать с category\n//\n// 3. Передай client_meta.template_name для конкретного шаблона:\n//    - \"cyber_neon\", \"fire_ice\", \"toxic_green\", etc.\n\nconst GAMING_TEMPLATES = {\n  // GAMING_CONTRAST (10)\n  \"cyber_neon\": {name: \"Cyber Neon\", category: \"GAMING_CONTRAST\", best_for: [\"cyberpunk\", \"tech\", \"sci-fi\"], title: {font: \"Russo One\", fontsize: 80, fontcolor: \"#00FFFF\", bordercolor: \"#0080FF\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.88\", boxborderw: 28, shadowcolor: \"#00FFFF@0.7\", shadowx: 0, shadowy: 0, y: 210}, sub: {font: \"Montserrat\", fontsize: 70, fontcolor: \"#FF00FF\", bordercolor: \"#800080\", borderw: 12, shadowcolor: \"#FF00FF@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-330\"}},\n  \"fire_ice\": {name: \"Fire & Ice\", category: \"GAMING_CONTRAST\", best_for: [\"action\", \"battle\", \"pvp\"], title: {font: \"Oswald\", fontsize: 82, fontcolor: \"#FF4500\", bordercolor: \"#FF6347\", borderw: 0, box: 1, boxcolor: \"#1a0a00@0.90\", boxborderw: 30, shadowcolor: \"#FF4500@0.6\", shadowx: 0, shadowy: 0, y: 205}, sub: {font: \"PT Sans\", fontsize: 72, fontcolor: \"#00CED1\", bordercolor: \"#008B8B\", borderw: 13, shadowcolor: \"#00CED1@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-325\"}},\n  \"gold_purple\": {name: \"Gold & Purple\", category: \"GAMING_CONTRAST\", best_for: [\"rpg\", \"fantasy\", \"magic\"], title: {font: \"Fixel\", fontsize: 78, fontcolor: \"#FFD700\", bordercolor: \"#DAA520\", borderw: 0, box: 1, boxcolor: \"#2d1b52@0.88\", boxborderw: 28, shadowcolor: \"#FFD700@0.5\", shadowx: 0, shadowy: 0, y: 215}, sub: {font: \"Montserrat\", fontsize: 70, fontcolor: \"#9370DB\", bordercolor: \"#6A5ACD\", borderw: 12, shadowcolor: \"#9370DB@0.4\", shadowx: 0, shadowy: 0, box: 0, y: \"h-330\"}},\n  \"toxic_green\": {name: \"Toxic Green\", category: \"GAMING_CONTRAST\", best_for: [\"horror\", \"zombie\", \"survival\"], title: {font: \"Russo One\", fontsize: 80, fontcolor: \"#39FF14\", bordercolor: \"#32CD32\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.90\", boxborderw: 29, shadowcolor: \"#39FF14@0.7\", shadowx: 0, shadowy: 0, y: 210}, sub: {font: \"PT Sans\", fontsize: 71, fontcolor: \"#FF073A\", bordercolor: \"#DC143C\", borderw: 13, shadowcolor: \"#FF073A@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-328\"}},\n  \"electric_yellow\": {name: \"Electric Yellow\", category: \"GAMING_CONTRAST\", best_for: [\"racing\", \"speed\", \"energy\"], title: {font: \"Oswald\", fontsize: 81, fontcolor: \"#FFFF00\", bordercolor: \"#FFD700\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.87\", boxborderw: 27, shadowcolor: \"#FFFF00@0.6\", shadowx: 0, shadowy: 0, y: 208}, sub: {font: \"Fixel\", fontsize: 70, fontcolor: \"#1E90FF\", bordercolor: \"#4169E1\", borderw: 12, shadowcolor: \"#1E90FF@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-330\"}},\n  \"blood_shadow\": {name: \"Blood Shadow\", category: \"GAMING_CONTRAST\", best_for: [\"dark\", \"vampire\", \"gothic\"], title: {font: \"Russo One\", fontsize: 79, fontcolor: \"#8B0000\", bordercolor: \"#A52A2A\", borderw: 0, box: 1, boxcolor: \"#0d0d0d@0.92\", boxborderw: 30, shadowcolor: \"#8B0000@0.6\", shadowx: 2, shadowy: 2, y: 212}, sub: {font: \"Montserrat\", fontsize: 69, fontcolor: \"#C0C0C0\", bordercolor: \"#A9A9A9\", borderw: 11, shadowcolor: \"black@0.6\", shadowx: 2, shadowy: 2, box: 0, y: \"h-332\"}},\n  \"matrix_code\": {name: \"Matrix Code\", category: \"GAMING_CONTRAST\", best_for: [\"hacking\", \"cyber\", \"matrix\"], title: {font: \"Fixel\", fontsize: 80, fontcolor: \"#00FF41\", bordercolor: \"#00FF00\", borderw: 0, box: 1, boxcolor: \"#001a00@0.90\", boxborderw: 28, shadowcolor: \"#00FF41@0.7\", shadowx: 0, shadowy: 0, y: 210}, sub: {font: \"PT Sans\", fontsize: 71, fontcolor: \"#00FFFF\", bordercolor: \"#008B8B\", borderw: 13, shadowcolor: \"#00FFFF@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-328\"}},\n  \"royal_blue\": {name: \"Royal Blue\", category: \"GAMING_CONTRAST\", best_for: [\"strategy\", \"empire\", \"rts\"], title: {font: \"Oswald\", fontsize: 78, fontcolor: \"#4169E1\", bordercolor: \"#0000CD\", borderw: 0, box: 1, boxcolor: \"#0a0a1a@0.88\", boxborderw: 28, shadowcolor: \"#4169E1@0.5\", shadowx: 0, shadowy: 0, y: 215}, sub: {font: \"Montserrat\", fontsize: 70, fontcolor: \"#FFD700\", bordercolor: \"#DAA520\", borderw: 12, shadowcolor: \"#FFD700@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-330\"}},\n  \"lava_glow\": {name: \"Lava Glow\", category: \"GAMING_CONTRAST\", best_for: [\"boss\", \"fire\", \"epic\"], title: {font: \"Russo One\", fontsize: 81, fontcolor: \"#FF4500\", bordercolor: \"#FF6347\", borderw: 0, box: 1, boxcolor: \"#1a0a00@0.90\", boxborderw: 29, shadowcolor: \"#FF4500@0.7\", shadowx: 0, shadowy: 0, y: 207}, sub: {font: \"Fixel\", fontsize: 71, fontcolor: \"#00FFFF\", bordercolor: \"#00CED1\", borderw: 13, shadowcolor: \"#00FFFF@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-328\"}},\n  \"cosmic_purple\": {name: \"Cosmic Purple\", category: \"GAMING_CONTRAST\", best_for: [\"space\", \"cosmic\", \"alien\"], title: {font: \"Fixel\", fontsize: 79, fontcolor: \"#9370DB\", bordercolor: \"#8A2BE2\", borderw: 0, box: 1, boxcolor: \"#0d0d1a@0.88\", boxborderw: 28, shadowcolor: \"#9370DB@0.6\", shadowx: 0, shadowy: 0, y: 213}, sub: {font: \"PT Sans\", fontsize: 70, fontcolor: \"#00FF7F\", bordercolor: \"#3CB371\", borderw: 12, shadowcolor: \"#00FF7F@0.5\", shadowx: 0, shadowy: 0, box: 0, y: \"h-330\"}},\n\n  // DOUBLE_BOX (10)\n  \"double_neon\": {name: \"Double Neon\", category: \"DOUBLE_BOX\", best_for: [\"important\", \"tutorial\", \"guide\"], title: {font: \"Russo One\", fontsize: 78, fontcolor: \"#00FFFF\", bordercolor: \"#00CED1\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.90\", boxborderw: 28, shadowcolor: \"#00FFFF@0.6\", shadowx: 0, shadowy: 0, y: 215}, sub: {font: \"Montserrat\", fontsize: 68, fontcolor: \"#FFD700\", bordercolor: \"#DAA520\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.88\", boxborderw: 26, shadowcolor: \"#FFD700@0.5\", shadowx: 0, shadowy: 0, y: \"h-330\"}},\n  \"double_impact\": {name: \"Double Impact\", category: \"DOUBLE_BOX\", best_for: [\"alert\", \"breaking\", \"news\"], title: {font: \"Oswald\", fontsize: 80, fontcolor: \"white\", bordercolor: \"white\", borderw: 0, box: 1, boxcolor: \"#8B0000@0.92\", boxborderw: 30, shadowcolor: \"black@0.6\", shadowx: 2, shadowy: 2, y: 210}, sub: {font: \"PT Sans\", fontsize: 70, fontcolor: \"#FFFF00\", bordercolor: \"#FFD700\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.90\", boxborderw: 28, shadowcolor: \"black@0.5\", shadowx: 2, shadowy: 2, y: \"h-325\"}},\n  \"double_elegant\": {name: \"Double Elegant\", category: \"DOUBLE_BOX\", best_for: [\"education\", \"story\", \"lore\"], title: {font: \"Fixel\", fontsize: 74, fontcolor: \"#2C3E50\", bordercolor: \"#34495E\", borderw: 0, box: 1, boxcolor: \"#ECF0F1@0.92\", boxborderw: 28, shadowcolor: \"black@0.2\", shadowx: 1, shadowy: 1, y: 225}, sub: {font: \"Montserrat\", fontsize: 66, fontcolor: \"#7F8C8D\", bordercolor: \"#95A5A6\", borderw: 0, box: 1, boxcolor: \"white@0.88\", boxborderw: 26, shadowcolor: \"black@0.15\", shadowx: 1, shadowy: 1, y: \"h-340\"}},\n  \"double_toxic\": {name: \"Double Toxic\", category: \"DOUBLE_BOX\", best_for: [\"poison\", \"radioactive\", \"danger\"], title: {font: \"Russo One\", fontsize: 79, fontcolor: \"#39FF14\", bordercolor: \"#32CD32\", borderw: 0, box: 1, boxcolor: \"#0a0a0a@0.90\", boxborderw: 29, shadowcolor: \"#39FF14@0.7\", shadowx: 0, shadowy: 0, y: 212}, sub: {font: \"Oswald\", fontsize: 70, fontcolor: \"#FF073A\", bordercolor: \"#DC143C\", borderw: 0, box: 1, boxcolor: \"#1a0a0a@0.88\", boxborderw: 27, shadowcolor: \"#FF073A@0.6\", shadowx: 0, shadowy: 0, y: \"h-328\"}},\n  \"double_gold\": {name: \"Double Gold\", category: \"DOUBLE_BOX\", best_for: [\"achievement\", \"victory\", \"epic\"], title: {font: \"Fixel\", fontsize: 78, fontcolor: \"#FFD700\", bordercolor: \"#DAA520\", borderw: 0, box: 1, boxcolor: \"#1a1a1a@0.90\", boxborderw: 28, shadowcolor: \"#FFD700@0.6\", shadowx: 0, shadowy: 0, y: 215}, sub: {font: \"Montserrat\", fontsize: 69, fontcolor: \"#F4E5C2\", bordercolor: \"#DAA520\", borderw: 0, box: 1, boxcolor: \"#2d2d2d@0.88\", boxborderw: 26, shadowcolor: \"#FFD700@0.4\", shadowx: 0, shadowy: 0, y: \"h-330\"}},\n  \"double_cyber\": {name: \"Double Cyber\", category: \"DOUBLE_BOX\", best_for: [\"futuristic\", \"tech\", \"digital\"], title: {font: \"Russo One\", fontsize: 79, fontcolor: \"#00FFFF\", bordercolor: \"#00CED1\", borderw: 0, box: 1, boxcolor: \"#0a0a1a@0.90\", boxborderw: 28, shadowcolor: \"#00FFFF@0.7\", shadowx: 0, shadowy: 0, y: 212}, sub: {font: \"PT Sans\", fontsize: 70, fontcolor: \"#FF00FF\", bordercolor: \"#DA70D6\", borderw: 0, box: 1, boxcolor: \"#1a0a1a@0.88\", boxborderw: 27, shadowcolor: \"#FF00FF@0.6\", shadowx: 0, shadowy: 0, y: \"h-328\"}},\n  \"double_fire\": {name: \"Double Fire\", category: \"DOUBLE_BOX\", best_for: [\"battle\", \"war\", \"intense\"], title: {font: \"Oswald\", fontsize: 80, fontcolor: \"#FF4500\", bordercolor: \"#FF6347\", borderw: 0, box: 1, boxcolor: \"#8B0000@0.88\", boxborderw: 29, shadowcolor: \"#FF4500@0.6\", shadowx: 0, shadowy: 0, y: 210}, sub: {font: \"Fixel\", fontsize: 70, fontcolor: \"#FFD700\", bordercolor: \"#DAA520\", borderw: 0, box: 1, boxcolor: \"#1a1a1a@0.88\", boxborderw: 27, shadowcolor: \"#FFD700@0.5\", shadowx: 0, shadowy: 0, y: \"h-326\"}},\n  \"double_ice\": {name: \"Double Ice\", category: \"DOUBLE_BOX\", best_for: [\"frost\", \"winter\", \"frozen\"], title: {font: \"Fixel\", fontsize: 77, fontcolor: \"#00CED1\", bordercolor: \"#20B2AA\", borderw: 0, box: 1, boxcolor: \"#00008B@0.88\", boxborderw: 28, shadowcolor: \"#00CED1@0.5\", shadowx: 0, shadowy: 0, y: 217}, sub: {font: \"Montserrat\", fontsize: 68, fontcolor: \"#B0E0E6\", bordercolor: \"#87CEEB\", borderw: 0, box: 1, boxcolor: \"#1a1a2e@0.88\", boxborderw: 26, shadowcolor: \"#B0E0E6@0.4\", shadowx: 0, shadowy: 0, y: \"h-332\"}},\n  \"double_purple\": {name: \"Double Purple\", category: \"DOUBLE_BOX\", best_for: [\"magic\", \"fantasy\", \"mystical\"], title: {font: \"Russo One\", fontsize: 78, fontcolor: \"#9370DB\", bordercolor: \"#8A2BE2\", borderw: 0, box: 1, boxcolor: \"#1a0a1a@0.90\", boxborderw: 28, shadowcolor: \"#9370DB@0.6\", shadowx: 0, shadowy: 0, y: 215}, sub: {font: \"PT Sans\", fontsize: 69, fontcolor: \"#DA70D6\", bordercolor: \"#BA55D3\", borderw: 0, box: 1, boxcolor: \"#2d1b52@0.88\", boxborderw: 27, shadowcolor: \"#DA70D6@0.5\", shadowx: 0, shadowy: 0, y: \"h-330\"}},\n  \"double_clean\": {name: \"Double Clean\", category: \"DOUBLE_BOX\", best_for: [\"tutorial\", \"howto\", \"guide\"], title: {font: \"Montserrat\", fontsize: 74, fontcolor: \"#212121\", bordercolor: \"#424242\", borderw: 0, box: 1, boxcolor: \"white@0.92\", boxborderw: 28, shadowcolor: \"black@0.15\", shadowx: 1, shadowy: 1, y: 222}, sub: {font: \"PT Sans\", fontsize: 66, fontcolor: \"#616161\", bordercolor: \"#757575\", borderw: 0, box: 1, boxcolor: \"#F5F5F5@0.90\", boxborderw: 26, shadowcolor: \"black@0.1\", shadowx: 1, shadowy: 1, y: \"h-338\"}},\n\n  // NO_BOX (10)\n  \"outline_neon\": {name: \"Outline Neon\", category: \"NO_BOX\", best_for: [\"clean\", \"minimal\", \"modern\"], title: {font: \"Russo One\", fontsize: 82, fontcolor: \"#00FFFF\", bordercolor: \"black\", borderw: 14, box: 0, shadowcolor: \"#00FFFF@0.5\", shadowx: 0, shadowy: 0, y: 200}, sub: {font: \"Montserrat\", fontsize: 72, fontcolor: \"#FF00FF\", bordercolor: \"black\", borderw: 16, shadowcolor: \"#FF00FF@0.4\", shadowx: 0, shadowy: 0, box: 0, y: \"h-310\"}},\n  \"outline_fire\": {name: \"Outline Fire\", category: \"NO_BOX\", best_for: [\"action\", \"dynamic\", \"fast\"], title: {font: \"Oswald\", fontsize: 84, fontcolor: \"#FF4500\", bordercolor: \"black\", borderw: 14, box: 0, shadowcolor: \"#FF4500@0.4\", shadowx: 2, shadowy: 2, y: 195}, sub: {font: \"Fixel\", fontsize: 74, fontcolor: \"#FFD700\", bordercolor: \"black\", borderw: 16, shadowcolor: \"#FFD700@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-305\"}},\n  \"outline_classic\": {name: \"Outline Classic\", category: \"NO_BOX\", best_for: [\"meme\", \"viral\", \"classic\"], title: {font: \"Russo One\", fontsize: 86, fontcolor: \"white\", bordercolor: \"black\", borderw: 15, box: 0, shadowcolor: \"black@0.6\", shadowx: 3, shadowy: 3, y: 190}, sub: {font: \"PT Sans\", fontsize: 76, fontcolor: \"white\", bordercolor: \"black\", borderw: 14, shadowcolor: \"black@0.6\", shadowx: 3, shadowy: 3, box: 0, y: \"h-300\"}},\n  \"outline_rainbow\": {name: \"Outline Rainbow\", category: \"NO_BOX\", best_for: [\"fun\", \"colorful\", \"happy\"], title: {font: \"Fixel\", fontsize: 83, fontcolor: \"#FF69B4\", bordercolor: \"black\", borderw: 13, box: 0, shadowcolor: \"#FF69B4@0.4\", shadowx: 2, shadowy: 2, y: 198}, sub: {font: \"Montserrat\", fontsize: 73, fontcolor: \"#00FF7F\", bordercolor: \"black\", borderw: 15, shadowcolor: \"#00FF7F@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-308\"}},\n  \"outline_gold\": {name: \"Outline Gold\", category: \"NO_BOX\", best_for: [\"epic\", \"legendary\", \"rare\"], title: {font: \"Oswald\", fontsize: 85, fontcolor: \"#FFD700\", bordercolor: \"black\", borderw: 14, box: 0, shadowcolor: \"#FFD700@0.5\", shadowx: 2, shadowy: 2, y: 193}, sub: {font: \"Russo One\", fontsize: 75, fontcolor: \"#FF8C00\", bordercolor: \"black\", borderw: 16, shadowcolor: \"#FF8C00@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-303\"}},\n  \"outline_toxic\": {name: \"Outline Toxic\", category: \"NO_BOX\", best_for: [\"poison\", \"acid\", \"bio\"], title: {font: \"Russo One\", fontsize: 84, fontcolor: \"#39FF14\", bordercolor: \"black\", borderw: 14, box: 0, shadowcolor: \"#39FF14@0.5\", shadowx: 2, shadowy: 2, y: 196}, sub: {font: \"Fixel\", fontsize: 74, fontcolor: \"#ADFF2F\", bordercolor: \"black\", borderw: 15, shadowcolor: \"#ADFF2F@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-306\"}},\n  \"outline_blood\": {name: \"Outline Blood\", category: \"NO_BOX\", best_for: [\"horror\", \"dark\", \"brutal\"], title: {font: \"Oswald\", fontsize: 85, fontcolor: \"#DC143C\", bordercolor: \"black\", borderw: 16, box: 0, shadowcolor: \"#DC143C@0.5\", shadowx: 3, shadowy: 3, y: 193}, sub: {font: \"PT Sans\", fontsize: 75, fontcolor: \"#FF6347\", bordercolor: \"black\", borderw: 14, shadowcolor: \"#FF6347@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-303\"}},\n  \"outline_ice\": {name: \"Outline Ice\", category: \"NO_BOX\", best_for: [\"frost\", \"cold\", \"frozen\"], title: {font: \"Fixel\", fontsize: 83, fontcolor: \"#00CED1\", bordercolor: \"black\", borderw: 13, box: 0, shadowcolor: \"#00CED1@0.5\", shadowx: 2, shadowy: 2, y: 198}, sub: {font: \"Montserrat\", fontsize: 73, fontcolor: \"#87CEEB\", bordercolor: \"black\", borderw: 15, shadowcolor: \"#87CEEB@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-308\"}},\n  \"outline_purple\": {name: \"Outline Purple\", category: \"NO_BOX\", best_for: [\"magic\", \"arcane\", \"spell\"], title: {font: \"Russo One\", fontsize: 84, fontcolor: \"#9370DB\", bordercolor: \"black\", borderw: 14, box: 0, shadowcolor: \"#9370DB@0.5\", shadowx: 2, shadowy: 2, y: 196}, sub: {font: \"Oswald\", fontsize: 74, fontcolor: \"#DA70D6\", bordercolor: \"black\", borderw: 16, shadowcolor: \"#DA70D6@0.4\", shadowx: 2, shadowy: 2, box: 0, y: \"h-306\"}},\n  \"outline_contrast\": {name: \"Outline Contrast\", category: \"NO_BOX\", best_for: [\"universal\", \"readable\", \"safe\"], title: {font: \"Montserrat\", fontsize: 82, fontcolor: \"white\", bordercolor: \"black\", borderw: 13, box: 0, shadowcolor: \"black@0.7\", shadowx: 3, shadowy: 3, y: 200}, sub: {font: \"PT Sans\", fontsize: 72, fontcolor: \"#FFFF00\", bordercolor: \"black\", borderw: 15, shadowcolor: \"black@0.6\", shadowx: 3, shadowy: 3, box: 0, y: \"h-310\"}}\n};\n\nconst data = $input.first().json;\nconst shorts = data.shorts || data;\nconst clientMeta = shorts.client_meta || data.client_meta || {};\n\n// ФИЛЬТРАЦИЯ ПО ПАРАМЕТРАМ\nlet filteredTemplates = Object.entries(GAMING_TEMPLATES);\n\n// 1. Конкретный шаблон по имени\nif (clientMeta.template_name && GAMING_TEMPLATES[clientMeta.template_name]) {\n  filteredTemplates = [[clientMeta.template_name, GAMING_TEMPLATES[clientMeta.template_name]]];\n}\n// 2. Фильтр по категории\nelse if (clientMeta.template_category) {\n  filteredTemplates = filteredTemplates.filter(([key, tpl]) => \n    tpl.category === clientMeta.template_category\n  );\n}\n\n// 3. Фильтр по жанру (best_for)\nif (clientMeta.template_genre && filteredTemplates.length > 1) {\n  const genreFiltered = filteredTemplates.filter(([key, tpl]) => \n    tpl.best_for.includes(clientMeta.template_genre)\n  );\n  if (genreFiltered.length > 0) {\n    filteredTemplates = genreFiltered;\n  }\n}\n\n// Выбор случайного шаблона из отфильтрованных\nconst [templateKey, tpl] = filteredTemplates[Math.floor(Math.random() * filteredTemplates.length)];\n\nconst sourceUrl = data.source_video_url || shorts.source_video_url;\n\nreturn {\n  json: {\n    video_url: sourceUrl,\n    execution: \"async\",\n    operations: [{\n      type: \"make_short\",\n      start_time: shorts.start,\n      end_time: shorts.end,\n      crop_mode: \"letterbox\",\n      letterbox_config: {blur_radius: 20},\n      title: {\n        text: shorts.title,\n        font: tpl.title.font,\n        fontsize: tpl.title.fontsize,\n        fontcolor: tpl.title.fontcolor,\n        bordercolor: tpl.title.bordercolor,\n        borderw: tpl.title.borderw,\n        box: tpl.title.box,\n        boxcolor: tpl.title.boxcolor,\n        boxborderw: tpl.title.boxborderw,\n        shadowcolor: tpl.title.shadowcolor || undefined,\n        shadowx: tpl.title.shadowx || undefined,\n        shadowy: tpl.title.shadowy || undefined,\n        x: \"center\",\n        y: tpl.title.y,\n        start_time: 0.0,\n        duration: 5,\n        fade_in: 0.3,\n        fade_out: 0.5\n      },\n      subtitles: {\n        items: shorts.subtitles,\n        font: tpl.sub.font,\n        fontsize: tpl.sub.fontsize,\n        fontcolor: tpl.sub.fontcolor,\n        bordercolor: tpl.sub.bordercolor,\n        borderw: tpl.sub.borderw,\n        shadowcolor: tpl.sub.shadowcolor || undefined,\n        shadowx: tpl.sub.shadowx || undefined,\n        shadowy: tpl.sub.shadowy || undefined,\n        box: tpl.sub.box || 0,\n        boxcolor: tpl.sub.boxcolor || undefined,\n        boxborderw: tpl.sub.boxborderw || undefined,\n        y: tpl.sub.y\n      },\n      generate_thumbnail: true,\n      thumbnail_timestamp: 0.5\n    }],\n    client_meta: {\n      ...clientMeta,\n      _template_key: templateKey,\n      _template_name: tpl.name,\n      _template_category: tpl.category,\n      _template_genres: tpl.best_for,\n      _templates_available: filteredTemplates.length\n    }\n  }\n};"
      },
      "id": "code-node",
      "name": "Gaming Template Selector (30 + Filter)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-processor:5001/process_video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "jsonBody": "={{ $json }}"
      },
      "id": "http-node",
      "name": "Video Processor API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Gaming Template Selector (30 + Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gaming Template Selector (30 + Filter)": {
      "main": [
        [
          {
            "node": "Video Processor API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
